.venv/
__pycache__/
*.py[cod]
db.sqlite3
media/
staticfiles/
.env
.DS_Store
.ultralytics/
datasets/bisindo/**/*
!datasets/bisindo/.gitkeep
!datasets/bisindo/README.md
services/assessment_service/assessment_service/models/*.pt
services/assessment_service/assessment_service/models/*.pth
.env
/RuangIsyarat-6
/RuangIsyarat-6/data.yml
/RuangIsyarat-6/.txt
train.py
**/unified_alphabet_words_v11
test_model.py